@import "tailwindcss";

html,
body {
  background-color: #141414;
  color: #ffffff;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
  